{% autoescape false %}
<p align="center">
    <img src="public/strava.png"
         alt="Strava">
</p>

Since I began cycling `{{ totals.getTotalDays() }} days` ago on `{{ totals.getStartDate().format('d-m-Y') }}`,
I had `{{ totals.getTotalDaysOfCycling() }} cycling days`.<br />
I recorded a total distance of `{{ totals.getDistance()|number_format(0, '.', ' ') }} km`,
an elevation of `{{ totals.getElevation()|number_format(0, '.', ' ') }} m`
and a total time of `{{ totals.getMovingTimeFormatted() }}` 🎉

That's a daily average of `{{ totals.getDailyAverage()|number_format(0, '.', ' ') }} km`,
a weekly average of `{{ totals.getWeeklyAverage()|number_format(0, '.', ' ') }} km` and a
monthly average of `{{ totals.getMonthlyAverage()|number_format(0, '.', ' ') }} km` 🐣

I burned `{{ totals.getCalories() }} calories` doing so, that's about `{{ (totals.getCalories() / 270)|number_format(0, '.', ' ') }}` pizza slices 🍕

---

<kbd><a href="#weekly-distances">Weekly distances</a></kbd> |
<kbd><a href="#activities">Activities</a></kbd> |
<kbd><a href="#monthly-stats">Monthly stats</a></kbd> |
<kbd><a href="#activity-heatmap">Activity heatmap</a></kbd> |
<kbd><a href="#stats-per-bike">Stats per bike</a></kbd> |
<kbd><a href="#best-power-outputs-over-time">Power outputs</a></kbd> |
<kbd><a href="#completed-challenges">Completed challenges</a></kbd>

## Weekly distances

<img src="build/chart.svg" alt="Weekly distances"/>

## Activities

{{ allActivities }}

## Monthly stats

<table>
    <thead>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th># of rides</th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/distance.svg" width="30" alt="distance" title="distance"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/activity-ride.svg" width="30" alt="Gear" title="Gear"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/elevation.svg" width="30" alt="elevation" title="elevation"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/time.svg" width="30" alt="time" title="time"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/challenge2.svg" width="30" alt="completed challenges" title="completed challenges"/></th>
    </tr>
    </thead>
    <tbody>
    {% for statistic in monthlyStatistics.getRows() %}
        <tr>
            <td align="center">{{ statistic.month }}</td>
            <td align="center">{{ statistic.numberOfRides }}</td>
            <td align="center">{{ statistic.totalDistance|number_format(0, '.', ' ') }} <sup><sub>km</sub></sup></td>
            <td>
                <ul>
                    {% for gear in statistic.gears %}
                        <li><b>{{ gear.name ?: 'Other' }}</b>: {{ gear.distance }} <sup><sub>km</sub></sup></li>
                    {% endfor %}
                </ul>
            </td>
            <td align="center">{{ statistic.totalElevation|number_format(0, '.', ' ') }} <sup><sub>m</sub></sup></td>
            <td align="center">{{ statistic.movingTime }}</td>
            <td align="center">{{ statistic.challengesCompleted }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td align="center" rowspan="3"><b>Totals</b></td>
        <td align="center"><b>On Zwift</b></td>
        <td align="center" colspan="2"><b>{{ monthlyStatistics.getTotalsForZwift().totalDistance|number_format(0, '.', ' ') }} <sup><sub>km</sub></sup></b></td>
        <td align="center"><b>{{ monthlyStatistics.getTotalsForZwift().totalElevation|number_format(0, '.', ' ') }} <sup><sub>m</sub></sup></b></td>
        <td align="center" colspan="2"><b>{{ monthlyStatistics.getTotalsForZwift().movingTime }}</b></td>
    </tr>
    <tr>
        <td align="center"><b>Outside</b></td>
        <td align="center" colspan="2"><b>{{ monthlyStatistics.getTotalsForOutsideBikeRides().totalDistance|number_format(0, '.', ' ') }} <sup><sub>km</sub></sup></b></td>
        <td align="center"><b>{{ monthlyStatistics.getTotalsForOutsideBikeRides().totalElevation|number_format(0, '.', ' ') }} <sup><sub>m</sub></sup></b></td>
        <td align="center" colspan="2"><b>{{ monthlyStatistics.getTotalsForOutsideBikeRides().movingTime }}</b></td>
    </tr>
    <tr>
        <td align="center"><b>Total</b></td>
        <td align="center" colspan="2"><b>{{ monthlyStatistics.getTotals().totalDistance|number_format(0, '.', ' ') }} <sup><sub>km</sub></sup></b></td>
        <td align="center"><b>{{ monthlyStatistics.getTotals().totalElevation|number_format(0, '.', ' ') }} <sup><sub>m</sub></sup></b></td>
        <td align="center" colspan="2"><b>{{ monthlyStatistics.getTotals().movingTime }}</b></td>
    </tr>
    </tbody>
</table>

## Activity heatmap

<img src="build/chart-activities-heatmap.svg" alt="Heatmap"/>

<img src="build/chart-weekday-stats.svg" alt="Weekly distances"/>

## Stats per bike

<table>
    <thead>
    <tr>
        <th></th>
        <th># of rides</th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/distance.svg" width="30" alt="distance" title="distance"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/elevation.svg" width="30" alt="elevation" title="elevation"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/time.svg" width="30" alt="time" title="time"/></th>
    </tr>
    </thead>
    <tbody>
    {% for statistic in bikeStatistics.getRows() %}
        <tr>
            <td align="center">{{ statistic.name }}</td>
            <td align="center">{{ statistic.numberOfRides }}</td>
            <td align="center">{{ statistic.distance|number_format(0, '.', ' ') }} <sup><sub>km</sub></sup></td>
            <td align="center">{{ statistic.elevation|number_format(0, '.', ' ') }} <sup><sub>m</sub></sup></td>
            <td align="center">{{ statistic.movingTime }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

## Best power outputs over time

<table>
    <tr>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/time.svg" width="30" alt="time" title="time"/></th>
        <th align="center" colspan="2"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-watt.svg" width="30" alt="average watts" title="average watts"/></th>
        <th></th>
    </tr>
    {% for powerOutput in powerOutputs.getBest() %}
        <tr>
            <td align="center">{{ powerOutput.time }}</td>
            <td align="center">{{ powerOutput.power }} <sup><sub>w</sub></sup></td>
            <td align="center">{{ powerOutput.relativePower }} <sup><sub>w/kg</sub></sup></td>
            <td>
                <img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/{{ powerOutput.activity.getType().getIcon() }}.svg" width="12" alt="virtual ride" title="virtual ride"/>
                <a href="{{ powerOutput.activity.getUrl() }}" title="Kcal: {{ powerOutput.activity.getCalories() ?: 'n/a' }} | Gear: {{ powerOutput.activity.getGearName() ?: 'None' }} ">
                    {{ powerOutput.activity.getName()|length > 70 ? powerOutput.activity.getName()|slice(0, 67) ~ '...' : powerOutput.activity.getName() }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

## Completed challenges

{% for challenge in challenges %}<a href="{{ challenge.getUrl() }}"><img src="{{ challenge.getLocalLogoUrl() }}" alt="{{ challenge.getName()|replace({'"':'\''}) }}" title="{{ challenge.getName()|replace({'"':'\''}) }}" width="75" /></a>{% endfor %}
{% endautoescape %}

## Want to have these statistics for yourself?

It is possible to create all these stats for your own Strava profile.

### What you'll need

* A Strava API key
* A GitHub account

### Installation

* Make sure your logged in with your GitHub account
* Start off by showing some ❤️ and give this repo a star
* [Fork this repository](https://github.com/robiningelbrecht/strava-activities/fork)
(forking is fancy word for copying)
* Navigate to your newly created repository `Actions secrets and variables` page (https://github.com/[YOUR-GITHUB-USERNAME]/[REPOSITORY-NAME]/settings/secrets/actions)
Keep this page open, you will need to add several secrets here
* Next, navigate to your [Strava API settings page](https://www.strava.com/settings/api).
Copy the `client ID` and `client secret` and create two new secrets:
  * __name__: STRAVA_CLIENT_ID, __value__: `client ID` copied from Strava API settings page
  * __name__: STRAVA_CLIENT_SECRET, __value__: `client secret` copied from Strava API settings page
* Now you need to obtain a `Strava API refresh token`. This might be the hardest step.
    * Navigate to https://developers.strava.com/docs/getting-started/#d-how-to-authenticate
and scroll down to "_For demonstration purposes only, here is how to reproduce the graph above with cURL:_"
    * Follow the 11 steps explained there
    * Create a secret with the refresh token you obtained: __name__: STRAVA_REFRESH_TOKEN, __value__: The `refresh token` you just obtained
* The last thing you need to do is edit the `update-strava-activities.yml` file:
    * Navigate to https://github.com/[YOUR-GITHUB-USERNAME]/[REPOSITORY-NAME]/edit/master/.github/workflows/update-strava-activities.yml
    * Scroll down to
    ```yml
    name: Commit and push changes
    run: |
      git config --global user.name 'YOUR_GITHUB_USERNAME'
      git config --global user.email 'YOUR_GITHUB_USERNAME@users.noreply.github.com'
      git add .
      git status
      git diff --staged --quiet || git commit -m"Updated strava activities"
      git push
    ```

    * Replace `YOUR_GITHUB_USERNAME` with your own username
    * Remove this code block completely

    ```yml
    name: ntfy.sh
    uses: robiningelbrecht/ntfy-action@v1.0.0
    if: always()
    with:
    url: ${{ secrets.NTFY_URL }}
    topic: ${{ secrets.NTFY_TOPIC }}
    icon: 'https://github.githubassets.com/images/modules/profile/achievements/starstruck-default.png'
    job_status: ${{ job.status }}
    ```

    * Click `commit changes` at the top right-hand corner

### More info

* Because of technical (Strava) limitations, not all Strava challenges
can be imported. Only the visible ones on your public profile can be imported
* Strava statistics will be re-calculated once a day. If you want to
re-calculate these manually, navigate to https://github.com/[YOUR-GITHUB-USERNAME]/[REPOSITORY-NAME]/actions/workflows/update-strava-activities.yml
and click `Run workflow` at the right-hand side
* Features still to add / finish
    * Import and display activity images
    * Display per activity weather data
    * Change activity heatmap to always include the last 12 months

### 💡Feature request?

For any feedback, help or feature requests, please [open a new issue](https://github.com/robiningelbrecht/strava-activities/issues/new)

