<table>
    <tr>
        <th></th>
        <th align="center">Distance</th>
        <th align="center">Elevation</th>
        <th align="center">Time</th>
    </tr>
    {% for activity in activities %}
        <tr>
            <td><a href="{{ activity.getUrl() }}">{{ activity.getName() }}</a></td>
            <td align="center">{{ activity.getDistance() }} km</td>
            <td align="center">{{ activity.getElevation() }} m</td>
            <td align="center">{{ activity.getMovingTime() }}</td>
        </tr>
    {% endfor %}
</table>