{% autoescape false %}
<table>
    <tr>
        <th></th>
        <th></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/distance.svg" width="35" alt="distance" title="distance"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/elevation.svg" width="35" alt="elevation" title="elevation"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/time.svg" width="35" alt="time" title="time"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-watt.svg" width="35" alt="average watts" title="average watts"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-speed.svg" width="35" alt="average speed" title="average speed"/></th>
    </tr>
    {% for activity in activities %}
        <tr>
            <td>{{ activity.getStartDate().format('d-m-Y') }}</td>
            <td><a href="{{ activity.getUrl() }}">{{ activity.getName()|length > 40 ? activity.getName()|slice(0, 37) ~ '...' : activity.getName() }}</a></td>
            <td align="center">{{ activity.getDistance() }} <sup><sub>km</sub></sup></td>
            <td align="center">{{ activity.getElevation() }} <sup><sub>m</sub></sup></td>
            <td align="center">{{ activity.getMovingTimeFormatted() }}</td>
            <td align="center">{{ activity.getAveragePower() ? activity.getAveragePower() ~ ' <sup><sub>w</sub></sup>': 'n/a' }}</td>
            <td align="center">{{ activity.getAverageSpeedInKmPerH() }} <sup><sub>km/h</sub></sup></td>
        </tr>
    {% endfor %}
</table>
{%  if totals %}
    <table>
        <tr>
            <td><b>Distance</b></td>
            <td align="center">{{ totals.getDistance()|number_format(0, '.', ' ') }} <sup><sub>km</sub></sup></td>
        </tr>
        <tr>
            <td><b>Elevation</b></td>
            <td align="center">{{ totals.getElevation()|number_format(0, '.', ' ') }} <sup><sub>m</sub></sup></td>
        </tr>
        <tr>
            <td><b>Time</b></td>
            <td align="center">{{ totals.getMovingTimeFormatted() }}</td>
        </tr>
    </table>
{% endif %}
{% endautoescape %}