<table>
    <tr>
        <th></th>
        <th></th>
        <th align="center"><img src="https://www.svgrepo.com/show/447602/distance.svg" width="35" /></th>
        <th align="center"><img src="https://www.svgrepo.com/show/314380/mountain-solid.svg" width="35"/></th>
        <th align="center"><img src="https://www.svgrepo.com/show/506771/time.svg" width="35"/></th>
    </tr>
    {% for activity in activities %}
        <tr>
            <td>{{ activity.getStartDate().format('d-m-Y') }}</td>
            <td><a href="{{ activity.getUrl() }}">{{ activity.getName() }}</a></td>
            <td align="center">{{ activity.getDistance() }} km</td>
            <td align="center">{{ activity.getElevation() }} m</td>
            <td align="center">{{ activity.getMovingTime() }}</td>
        </tr>
    {% endfor %}
</table>