<table>
    <tr>
        <th></th>
        <th></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/distance.svg" width="35" /></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/elevation.svg" width="35"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/time.svg" width="35"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-watt.svg" width="35"/></th>
    </tr>
    {% for activity in activities %}
        <tr>
            <td>{{ activity.getStartDate().format('d-m-Y') }}</td>
            <td><a href="{{ activity.getUrl() }}">{{ activity.getName() }}</a></td>
            <td align="center">{{ activity.getDistance() }} km</td>
            <td align="center">{{ activity.getElevation() }} m</td>
            <td align="center">{{ activity.getMovingTime() }}</td>
            <td align="center">{{ activity.getAveragePower() ?: 'n/a' }}</td>
        </tr>
    {% endfor %}
</table>