{% autoescape false %}
{% set timeIntervals = [5, 10, 30, 60, 300, 580, 1200, 3600] %}
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Rpm</th>
        <th colspan="2">Best 5s</th>
        <th colspan="2">Best 10s</th>
        <th colspan="2">Best 30s</th>
        <th colspan="2">Best 1m</th>
        <th colspan="2">Best 5m</th>
        <th colspan="2">Best 8m</th>
        <th colspan="2">Best 20m</th>
        <th colspan="2">Best 1h</th>
    </tr>
    {% for activity in activities %}
        <tr>
            <td>{{ activity.getStartDate().format('d-m-y') }}</td>
            <td>
                <img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/{{ activity.getType().getIcon() }}.svg" width="12" alt="virtual ride" title="virtual ride"/>
                <a href="{{ activity.getUrl() }}" title="Kcal: {{ activity.getCalories() ?: 'n/a' }} | Gear: {{ activity.getGearName() ?: 'None' }} ">{{ activity.getName()|length > 29 ? activity.getName()|slice(0, 26) ~ '...' : activity.getName() }}</a>
            </td>
            <td align="center">{{ activity.getAverageCadence() }}</td>
            {% for timeInterval in timeIntervals %}
                {% set averagePower = activity.getBestAveragePowerForTimeInterval(timeInterval) %}
                {% if averagePower %}
                    <td align="center">{{ activity.getBestAveragePowerForTimeInterval(timeInterval) }} <sup><sub>w</sub></sup></td>
                    <td align="center">{{ activity.getBestRelativeAveragePowerForTimeInterval(timeInterval) }} <sup><sub>w/kg</sub></sup></td>
                {% else %}
                    <td align="center"></td>
                    <td align="center"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endautoescape %}